@import "tailwindcss";
@theme{
  --text-home-heading-small: 28px;
  --text-home-heading-large: 55px;

  --leading-home-heading-small: 34px;
  --leading-home-heading-large: 56px;
}
*{
  font-family: Roboto,sans-serif;
}
